Exercise 1
•Study all datasets provided.

differnet datasets with musicians, songs, songlyrics, streams and other statistics like thei dancability

•What are questions that could be analyzed using these datasets?

different characteristics that bring songs more streams according to the countries
Lyrics generator

•Specifically, what are questions that could be analyzed by suitably combining and consolidating all
datasets into one?

what gets you into the charts

•How should such a combined data set look like: What defines a single row? What are the relevant
key columns that can be used to join the different data sets?

merge them by the song

In [1]:
import pandas as pd

In [71]:
tracks = pd.read_csv('data/tracks.csv')
lyrics = pd.read_csv('data/lyrics.csv')
artists = pd.read_json('data/artists.json')
charts_es = pd.read_excel('data/charts_es.xlsx')
charts_de = pd.read_excel('data/charts_de.xlsx')
charts_gb = pd.read_excel('data/charts_gb.xlsx')
charts_us = pd.read_excel('data/charts_us.xlsx')

In [39]:
tracks.shape

(792, 11)

In [32]:
lyrics.head()

                       id                                             lyrics
0  0VjIjW4GlUZAMYd2vXMi3b  Blinding Lights Lyrics\nYeah\n\nI've been tryn...
1  6hw1Sy9wZ8UCxYGdpKrU6M  Roller Lyrics\n\n(Lucry)\n(Suena)\n\nWarum fic...
2  7qEHsqek33rTcFNT9PFqLf  Someone You Loved Lyrics\nI'm going under, and...
3  4MzXwWMhyBbmu6hOcLVD49  DÁKITI Lyrics\n\nBaby, ya yo me enteré, se not...
4  2u8AXJyk8pICzj2wyPBL0b  2002 Lyrics\n\nDie Sonne scheint, Handy klinge...

In [92]:
artists.rename(columns={'genres':'artists_genres'}, inplace= True)
artists.rename(columns={'name':'artist'}, inplace= True)
artists.rename(columns={'id':'artist_ids'}, inplace= True)

artists.head()

,artist_ids,artist,artists_genres
0,0X2BH1fck6amBIoJhDVmmJ,Ellie Goulding,"[dance pop, edm, electropop, indietronica]"
1,4Q6nIcaBED8qUel8bBx6Cr,Jax Jones,"[dance pop, edm, electro house, house]"
2,0GgY7hjMoGDsX8ZDe2mwds,Soolking,"[francoton, french hip hop, pop urbaine, rap a..."
3,0xRXCcSX89eobfrshSVdyu,MEDUZA,"[edm, pop, pop dance, pop house]"
4,6W5uA6CNMf3hd2j4a2XWCx,Naps,"[francoton, french hip hop, pop urbaine, rap m..."

In [64]:
charts_de.head()

,variable,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,artist_names,Morgan Wallen,"PinkPantheress, Ice Spice",SZA,Miley Cyrus,"Tyler, The Creator",Taylor Swift,"Metro Boomin, The Weeknd, 21 Savage",Lil Uzi Vert,Morgan Wallen,...,Mac DeMarco,Drake,Paris Paloma,Tyler Childers,Joji,Lil Uzi Vert,The Weeknd,TV Girl,21 Savage,The Weeknd
1,date,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,...,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28
2,streams,1788527,1653288,1578062,1072622,1024156,1015712,903902,839935,837947,...,292821,292412,291673,290114,289130,289017,288560,287918,287619,286804
3,track_id,7K3BhSpAxZBznislvUMVtn,6AQbmUe0Qwf5PZnt4HmTXv,1Qrg8KqiBpW07V7PNxwwwL,4DHcnVTT87F0zZhRPYmZ3B,0judK8TqYfvwUohBngUxrE,4P9Q0GojKVXpRTJCaL3kyy,2dHHgzDwk4BJdRwy9uXhTO,4FyesJzVpA39hbYvcseO2d,5W4kiM2cUYBJXKRudNyxjW,...,2R4AlwtrrkMaRKojcTIzmL,5mCPDVBb16L4XQwDdbRUpz,2Ggr9IfS70wYQacW8nZKPG,2tgQaL85WoRfgEa4hFQgrE,4ewazQLXFTDC8XvCbhvtXs,0uxSUdBrJy9Un0EYoBowng,09mEdoA6zrmBPgTEN5qXmN,3IznIgmXtrUaoPWpQTy5jB,2t8yVaLvJ0RenpXUIAC52d,6bnF93Rx87YqUBLSgjiMU8
4,track_name,Last Night,Boy's a liar Pt. 2,Kill Bill,Flowers,DOGTOOTH,All Of The Girls You Loved Before,Creepin' (with The Weeknd & 21 Savage),Just Wanna Rock,You Proof,...,For the First Time,Passionfruit,labour,Feathered Indians,Glimpse of Us,20 Min,Call Out My Name,Not Allowed,a lot,Heartless

In [77]:

# Melt the DataFrame to long format
charts_us_long = pd.melt(charts_us, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_us_long_final = charts_us_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_us_long_final['country'] = 'us'

charts_us_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,Morgan Wallen,2023-03-28,1788527,7K3BhSpAxZBznislvUMVtn,Last Night,us
1,2,"PinkPantheress, Ice Spice",2023-03-28,1653288,6AQbmUe0Qwf5PZnt4HmTXv,Boy's a liar Pt. 2,us
2,3,SZA,2023-03-28,1578062,1Qrg8KqiBpW07V7PNxwwwL,Kill Bill,us
3,4,Miley Cyrus,2023-03-28,1072622,4DHcnVTT87F0zZhRPYmZ3B,Flowers,us
4,5,"Tyler, The Creator",2023-03-28,1024156,0judK8TqYfvwUohBngUxrE,DOGTOOTH,us

In [78]:

# Melt the DataFrame to long format
charts_gb_long = pd.melt(charts_gb, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_gb_long_final = charts_gb_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_gb_long_final['country'] = 'gb'


charts_gb_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"PinkPantheress, Ice Spice",2023-03-28,371705,6AQbmUe0Qwf5PZnt4HmTXv,Boy's a liar Pt. 2,gb
1,2,"Calvin Harris, Ellie Goulding",2023-03-28,341313,5eTaQYBE1yrActixMAeLcZ,Miracle (with Ellie Goulding),gb
2,3,Miley Cyrus,2023-03-28,321644,4DHcnVTT87F0zZhRPYmZ3B,Flowers,gb
3,4,SZA,2023-03-28,285671,1Qrg8KqiBpW07V7PNxwwwL,Kill Bill,gb
4,5,Ed Sheeran,2023-03-28,270700,4hy7qTxsnyZUZoqo5RtaYq,Eyes Closed,gb

In [79]:

# Melt the DataFrame to long format
charts_es_long = pd.melt(charts_es, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_es_long_final = charts_es_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_es_long_final['country'] = 'es'


charts_es_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"ROSALÍA, Rauw Alejandro",2023-03-28,1146484,609E1JCInJncactoMmkDon,BESO,es
1,2,"KAROL G, Shakira",2023-03-28,649915,0DWdj2oZMBFSzRsi2Cvfzf,TQG,es
2,3,"Bizarrap, Arcángel",2023-03-28,636883,7cQ0LAxT5HHCLGbxcjaxac,"Arcángel: Bzrp Music Sessions, Vol. 54",es
3,4,"Eladio Carrion, Bad Bunny",2023-03-28,607802,0PB0O24JqAuNdOAFVJljMS,Coco Chanel,es
4,5,"Yandel, Feid",2023-03-28,530906,4FAKtPVycI4DxoOHC01YqD,Yandel 150,es

In [80]:

# Melt the DataFrame to long format
charts_de_long = pd.melt(charts_de, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_de_long_final = charts_de_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_de_long_final['country'] = 'de'


charts_de_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"Udo Lindenberg, Apache 207",2023-03-28,555402,7oQepKHmXDaPC3rgeLRvQu,Komet,de
1,2,reezy,2023-03-28,379126,1rDfZwXzeotPuDtBJotaK1,SHOOT,de
2,3,Miley Cyrus,2023-03-28,368606,4DHcnVTT87F0zZhRPYmZ3B,Flowers,de
3,4,Eminem,2023-03-28,317513,561jH07mF1jHuk7KlaeF0s,Mockingbird,de
4,5,"AYLIVA, MERO",2023-03-28,315142,7DyDjhZMEIK5Ied4juTCyc,Sie weiß (feat. Mero),de

Let the merging begin:

In [86]:
all_charts = pd.concat([charts_de_long_final, charts_gb_long_final, charts_us_long_final, charts_es_long_final], ignore_index= True)
all_charts.rename(columns={'track_id':'id'}, inplace= True)

all_charts.shape

(800, 7)

In [85]:
print(lyrics.shape, tracks.shape, artists.shape, charts_de.shape)

(598, 2) (792, 11) (599, 3) (5, 201)

In [89]:
tracks.head()

,id,name,album_name,artist_ids,danceability,energy,speechiness,acousticness,valence,tempo,duration_ms
0,05Mp2UJulSttxQ4E6hQPH3,Ohne mein Team,Palmen aus Plastik,"1aS5tqEs9ci5P9KD9tZWa6,0Dvx6p8JDyzeOPGmaCIH1L,...",0.766,0.800,0.0938,0.160,0.635,129.999,188504
1,4bHsxqR3GMrXTxEPLuK5ue,Don't Stop Believin',Escape,0rvjqX7ttXeg3mTy8Xscbt,0.500,0.748,0.0363,0.127,0.514,118.852,250987
2,3rdAz1fbUfZxYgaCviYhRo,Todo De Ti,VICE VERSA,1mcTU81TzQhprhouKaTkpq,0.780,0.719,0.0506,0.302,0.336,127.962,199604
3,254bXAqt3zP6P50BdQvEsq,Everywhere - 2017 Remaster,Tango In the Night (Deluxe Edition),08GQAI4eElDnROBrJRGE0X,0.730,0.487,0.0303,0.258,0.731,114.965,226653
4,2PGA1AsJal6cyMNmKyE56q,200 km/h,Platte,1qQLhymHXFPtP5U8KNKsm6,0.899,0.670,0.1630,0.269,0.413,148.065,163147

In [98]:
df_tl = pd.merge(left=tracks, right=lyrics, on=["id"], how='outer')
df_tla = pd.merge(left=df_tl, right=artists, on=["artist_ids"], how='outer')
df_tlac = pd.merge(left=df_tla, right=all_charts, on=["id"], how='outer')

df_tlac.sort_values(['artist_names','name'],inplace=True)

df_tlac.head()

,id,name,album_name,artist_ids,danceability,energy,speechiness,acousticness,valence,tempo,duration_ms,lyrics,artist,artists_genres,song_index,artist_names,date,streams,track_name,country
130,13Hjp3sOQxtR0TV0jdaxpM,Unsinn,Unsinn,3Z3aTg9PwJ37e8xeO0aUC9,0.715,0.504,0.0683,0.44200,0.307,77.989,175585.0,Unsinn Lyrics\n\nIch warte unten\nIn mei'm Beu...,01099,"[german hip hop, german trap]",52.0,01099,2023-03-28,116774,Unsinn,de
343,2t8yVaLvJ0RenpXUIAC52d,a lot,i am > i was,1URnnhqYAYcrqrcwql10ft,0.837,0.636,0.0860,0.03950,0.274,145.972,288624.0,​a lot Lyrics\nI love you\nTurn my headphone d...,21 Savage,"[atl hip hop, rap, trap]",199.0,21 Savage,2023-03-28,287619,a lot,us
630,50a8bKqlwDEqeiEknrzkTO,ball w/o you,i am > i was,1URnnhqYAYcrqrcwql10ft,0.892,0.633,0.0902,0.04670,0.459,137.994,195047.0,NaN,21 Savage,"[atl hip hop, rap, trap]",188.0,21 Savage,2023-03-28,294691,ball w/o you,us
867,6pcywuOeGGWeOQzdUyti6k,Glock In My Lap,SAVAGE MODE II,"1URnnhqYAYcrqrcwql10ft,0iEtIxbK0KxaSlF7G42ZOp",0.847,0.733,0.1600,0.00574,0.202,130.029,193591.0,TranslationsРусскийPortuguêsEspañolGlock in My...,NaN,NaN,55.0,"21 Savage, Metro Boomin",2023-03-28,497554,Glock In My Lap,us
695,5SWnsxjhdcEDc7LJjq9UHk,Runnin,SAVAGE MODE II,"1URnnhqYAYcrqrcwql10ft,0iEtIxbK0KxaSlF7G42ZOp",0.819,NaN,0.2020,0.00748,0.415,143.010,195906.0,Runnin Lyrics\nAm I really hard to please?\nPe...,NaN,NaN,178.0,"21 Savage, Metro Boomin",2023-03-28,302021,Runnin,us

: